.root:hover {
  color: yellow;
}

.block {
  display: block;
  margin: 10px;
  filter: blur(20px);
  border-radius: 5px;
}

@media (min-width: 600px) {
  .root {
    color: green;
  }

  .test {
    color: green;
    color: yellow;
  }
}

.root {
  color: red;
  font-family: Verdana;
  display: block;
}

.test {
  color: red;
  color: pink;
}
