.container {
  display: flex;
  flex-wrap: wrap;
  border-top-width: $SideBarSpacing;
  border-top-style: solid;
  border-top-color: $SideBarBackgroundColor;
  min-height: 100vh;
}

.side {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-top: $SideBarSpacing;
  padding-bottom: $SideBarSpacing;
  padding-left: $SideBarSpacing;
  padding-right: $SideBarSpacing;
  background-color: $SideBarBackgroundColor;
  color: $SideBarColor;
  max-width: 100%;
}

.sideOpen {
  background-color: $SideBarStateBackgroundColor;
}

.logo {
  font-size: $LogoSize;
}

.spacer {
  height: $SideBarSpacing;
}

.navigationButton {
  margin-top: $SideBarNavigationSpacing;
  margin-bottom: $SideBarNavigationSpacing;
  margin-left: 0;
  margin-right: 0;
}

.playground {
  margin-top: $u-spacing1;
}

.main {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: $MainBackgroundColor;
  max-width: 100%;
}

.mainContent {
  background-color: $MainContentBackgroundColor;
  color: $MainColor;
  max-width: 960px;
  min-height: 100%;
  padding-top: $SideBarSpacing;
  padding-bottom: $SideBarSpacing;
  padding-left: $MainSpacing;
  padding-right: $MainSpacing;
}

.starOnGithub {
  width: 140px;
  height: 20px;
}

@media (min-width: 680px) {
  .container {
    flex-wrap: nowrap;
  }

  .side {
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (min-width: 1025px) {
  .mainContent {
    position: relative;
    padding-top: calc($LogoSize + $SideBarSpacing * 2);
    padding-bottom: calc($LogoSize + $SideBarSpacing * 2);
    padding-left: calc(($LogoSize + $SideBarSpacing * 2) * 0.9);
    padding-right: calc(($LogoSize + $SideBarSpacing * 2) * 0.9);
  }

  .starOnGithub {
    position: absolute;
    top: $SideBarSpacing;
    left: 50%;
  }
}
