.tag {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.content {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.size1 {
  font-size: 3em;
}

.size2 {
  font-size: 2em;
}

.size3 {
  font-size: 1em;
}

.size4 {
  font-size: 0.9em;
}

.size5 {
  font-size: 0.8em;
}

.size6 {
  font-size: 0.5em;
}
