.tag {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: $HeadingFontFamily;
  font-size: $HeadingFontSize;
  font-weight: $HeadingFontWeight;
  color: $HeadingColor;
}

.content {
  display: block;
  margin-top: 2em;
}

.link {
  color: inherit;
}

.size1 {
  font-size: $u-fontSize1;
  margin-top: 0;
}

.size2 {
  font-size: $u-fontSize2;
}

.size3 {
  font-size: $u-fontSize3;
}

.size4 {
  font-size: $u-fontSize4;
}

.size5 {
  font-size: $u-fontSize5;
}

.size6 {
  font-size: $u-fontSize6;
}
