.tag {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $HeadingFontFamily;
  font-size: $HeadingFontSize;
  color: $HeadingColor;
}

.content {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.size1 {
  font-size: $u-fontSize1;
}

.size2 {
  font-size: $u-fontSize2;
}

.size3 {
  font-size: $u-fontSize3;
}

.size4 {
  font-size: $u-fontSize4;
}

.size5 {
  font-size: $u-fontSize5;
}

.size6 {
  font-size: $u-fontSize6;
}
