.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: transparent;
  background-image: none;
  line-height: 0;
  color: currentColor;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: $NavigationButtonBorderRadius;
  border-top-right-radius: $NavigationButtonBorderRadius;
  border-bottom-right-radius: $NavigationButtonBorderRadius;
  border-bottom-left-radius: $NavigationButtonBorderRadius;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  outline-style: none;
  width: $NavigationButtonSize;
  height: $NavigationButtonSize;
  user-select: none;
  transition-property: border;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.button:active,
.button:focus:active {
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.button:hover,
.button:focus {
  border-top-width: 0;
  border-bottom-width: 0;
}

.buttonLine {
  display: block;
  width: calc($NavigationButtonSize - 4px);
  height: 2px;
  background-color: currentColor;
}

.menu {
  display: none;
  padding-top: $u-spacing4;
}

.menuOpen {
  display: block;
  position: relative;
  animation-name: menuFade, menuSlide;
  animation-duration: 0.3s, 0.2s;
  animation-timing-function: ease-in, ease-in;
}

.section {
  display: block;
  margin-top: $u-spacing4;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $u-spacing4;
  padding-right: $u-spacing4;
  color: currentColor;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: transparent;
  transition-property: border-color;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  outline-style: none;
  font-weight: normal;
  margin-left: 2px;
}

.section:focus-within,
.section:hover,
.section:focus,
.sectionActive {
  color: currentColor;
  border-left-color: currentColor;
}

.section:first-child {
  margin-top: 0;
}

.subSection {
  margin-left: $u-spacing4;
  position: relative;
  left: 4px;
}

@keyframes menuFade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes menuSlide {
  0% { left: -100% }
  80% { left: 30px }
  100% { left: 0 }
}
