.button {
  background: none;
  line-height: 0;
  color: $NavigationButtonColor;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: $NavigationButtonBorderRadius;
  outline: none;
  width: $NavigationButtonSize;
  height: $NavigationButtonSize;
  user-select: none;
}

.button:hover,
.button:focus {
  color: $NavigationButtonStateColor;
}

.buttonLine {
  display: block;
  width: $NavigationButtonSize;
  height: 2px;
  background-color: currentColor;
  margin-top: 3px;
  pointer-events: none;
}

.buttonLine:first-child {
  margin-top: 0;
}

.menu {
  display: none;
}

.menuOpen {
  display: block;
}

.section {
  display: block;
  margin-top: $u-spacing4;
}

.section:first-child {
  margin-top: 0;
}

.subSection {
  margin-left: $u-spacing4;
}
