.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: none;
  line-height: 0;
  color: currentColor;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: $NavigationButtonBorderRadius;
  padding: 2px;
  outline: none;
  width: $NavigationButtonSize;
  height: $NavigationButtonSize;
  user-select: none;
  transition: border ease 0.2s
}

.button:active,
.button:focus:active {
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.button:hover,
.button:focus {
  border-top-width: 0;
  border-bottom-width: 0;
}

.buttonLine {
  display: block;
  width: calc($NavigationButtonSize - 4px);
  height: 2px;
  background-color: currentColor;
}

.menu {
  display: none;
  padding-top: $u-spacing4;
}

.menuOpen {
  display: block;
  position: relative;
  animation: menuFade 0.3s ease-in, menuSlide 0.2s ease-in;
}

.section {
  display: block;
  margin-top: $u-spacing4;
  padding: 0 $u-spacing4;
  color: currentColor;
  border-left: 2px solid transparent;
  transition: border-color ease-out 0.3s;
  outline: none;
  font-weight: normal;
  margin-left: 2px;
}

.section:focus-within,
.section:hover,
.section:focus {
  color: currentColor;
  border-left-color: currentColor;
}

.section:first-child {
  margin-top: 0;
}

.subSection {
  margin-left: $u-spacing4;
  position: relative;
  left: 4px;
}

@keyframes menuFade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes menuSlide {
  0% { left: -100% }
  80% { left: 30px }
  100% { left: 0 }
}
