.p {
  font-family: $MarkdownPFontFamily;
  font-size: $MarkdownPFontSize;
  line-height: 1.5;
  margin-top: $MarkdownPFontSize;
  margin-bottom: $MarkdownPFontSize;
}

.p:first-child {
  margin-top: 0
}

.p:last-child {
  margin-bottom: 0
}

.code {
  display: inline-block;
  font-family: $MarkdownCodeFontFamily;
  font-size: $MarkdownCodeFontSize;
  color: $MarkdownCodeColor;
  background-color: $MarkdownCodeBackgroundColor;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: calc($MarkdownCodeSpacing * 2);
  padding-right: calc($MarkdownCodeSpacing * 2);
  border-top-left-radius: $MarkdownCodeBorderRadius;
  border-top-right-radius: $MarkdownCodeBorderRadius;
  border-bottom-right-radius: $MarkdownCodeBorderRadius;
  border-bottom-left-radius: $MarkdownCodeBorderRadius;
  line-height: 1.4;
  margin-top: 1px;
  margin-bottom: 1px;
}

.codeBlock {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-width: calc($MarkdownCodeSpacing * 4);
  border-style: solid;
  border-color: $MarkdownCodeBackgroundColor;
  overflow-x: auto;
}

.inlineCodeBlock {
  white-space: nowrap;
}

.ul {
  font-family: $MarkdownULFontFamily;
  font-size: $MarkdownULFontSize;
  list-style-type: $MarkdownULListStyle;
  line-height: 1.5;
}
