.p {
  font-family: $MarkdownPFontFamily;
  font-size: $MarkdownPFontSize;
  line-height: 1.5;
  margin-top: $MarkdownPFontSize;
  margin-bottom: $MarkdownPFontSize;
}

.p:first-child {
  margin-top: 0
}

.p:last-child {
  margin-bottom: 0
}

.code {
  display: inline-block;
  font-family: $MarkdownCodeFontFamily;
  font-size: $MarkdownCodeFontSize;
  color: $MarkdownCodeColor;
  background-color: $MarkdownCodeBackgroundColor;
  padding: 2px calc($MarkdownCodeSpacing * 2);
  border-radius: $MarkdownCodeBorderRadius;
  line-height: 1.4;
  margin-top: 1px;
  margin-bottom: 1px;
}

.codeBlock {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border: calc($MarkdownCodeSpacing * 4) solid $MarkdownCodeBackgroundColor;
  overflow-x: auto;
}

.inlineCodeBlock {
  white-space: nowrap;
}

.ul {
  font-family: $MarkdownULFontFamily;
  font-size: $MarkdownULFontSize;
  list-style: $MarkdownULListStyle;
  line-height: 1.5;
}
